@font-face {
  font-family: 'detMonoWebReg';
  src: url('/assets/determinationMonoWebRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'matrixDots';
  src: url('/assets/matrixDotsDemoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bytalionRegular';
  src: url('/assets/BytalionRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'shockSurgent';
  src: url('/assets/shockSurgentRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}